@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,300;0,400;1,400;1,700&display=swap');

* {
  font-family: 'Sofia Sans Condensed', sans-serif;
}

header {
  background-color: #000000;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgb(130, 130, 130) 0px 10px 10px -12px;
}


.logo-img {
  width: 150px;
  height: 100%;
}


header h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}


.header-menu {
  font-size: 22px;
  display: flex;
  gap: 20px;
  color: white;
}


.header-menu li:hover {
  color: #9e9333;
  cursor: pointer;
  transition: all 0.3s ease;
}


.header-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

main {
  background-color: rgba(51, 51, 51, 0.5);
  background: linear-gradient(to right, #f8f8e7, #f5f5dc, #f0f0d1, #ebebc6, #e6e6bb, #e0e0b0, #d9d9a5, #d3d39a, #cccc8f, #c6c684);
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
}


.main-cards {
  min-height: 50vh;
  width: 75%;
}


.main-details {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 25%;
}

.ul-products {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.li-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 240px;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
  background-color: #7a6e0341;
  box-shadow: rgb(130, 130, 130) 10px 10px 15px -12px;
}


.li-products img {
  width: 190px;
  height: 140px;
  box-shadow: rgb(248, 247, 183)10px 10px 10px -10px;
}

.h3-products {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

.h3-products:hover {
  transition: all 0.3s ease;
  color: #9e9333;
  cursor: pointer;
}

.p-description {
  margin-bottom: 15px;
  text-align: left;
  line-height: 20px;
}

.li-products span {
  font-size: 20px;
  color: #9e9333;
  margin-bottom: 10px;
}

.add-to-cart {
  margin-top: 5px;
  background-color: #9e9333;
  color: #f5f5f5;
  font-size: 20px;
  width: 100%;
  height: 40px;
  border: none;
}

.add-to-cart:hover {
  background-color: #9e9333c9;
}

.main-search {
  flex-direction: row;
  display: flex;

}

.search-input {
  height: 40px;
  margin-bottom: 10px;
  width: 70%;
  border: none;
  outline: none;
  padding: 5px;
  background-color: #ffffff;
}

.search-input:focus {
  border-bottom: 1px solid yellow
}

.search-button {
  height: 50px;
  width: 30%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: #9c976a;
  font-size: 20px;
  color: #ffffff;
}

.search-button:hover {
  background-color: #b6ae67;
}

.main-details aside {
  width: 100%;
  height: 300px;
}

.cart-title {
  background-color: #9e9333;
  color: #ffffff;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-title h4 {
  font-size: 1.3rem;
}

.cart-products {
  height: 80%;
  padding: 20px;
  background-color: white;
  overflow-y: scroll;
}


.ul-cart-list {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  background-color: white;

}

.ul-cart-list img {
  margin-right: 5px;
  width: 50%;
}

.cart-list-products {
  text-align: center;
  height: 100%;
  box-shadow: rgb(130, 130, 130) 0px 10px 10px -12px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e9333;

}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background-color: #9e9333a9;
  border-radius: 5px;
}

.cart-quantity {
  position: relative;
  top: 45px;
  right: 30px;
  height: max-content;
  background-color: #9ca54750;
  max-width: 30px;
  text-align: center;
  outline: none;
  border: none;


}


.btn-remove-item {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
}

.btn-remove-item:hover {
  color: red;
  transform: scale(1.02);
  cursor: pointer;
}


.cart-empty {
  height: 40%;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-empty-closed {
  height: 60%;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-empty h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-details {
  width: 100%;
  background-color: #333333;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details-values {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.visible {
  position: absolute;
  top: 20%;
  left: 3%;
  background-color: #9c976a;
  color: #f5f5f5;
  font-size: 20px;
  height: 40px;
  border: none;
  display: block;
}

.visible:hover {
  background-color: #b6ae67;

}

.hide {
  display: none;
  transition: 0.5s;
}